@charset "utf-8";
@import "hbVariables";
@import "hbReset";
@import "hbAnimated";

*{
  box-sizing: border-box;
}
body{
  font-size: 14px;
}
.haloIcon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
